<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <%
      var title = [];
      if (page.current > 1) title.push(__('page', page.current));
      if (page.title) title.push(page.title);
      title.push(config.title);
  %>
  <title><%= page.title %></title>
  <meta name="title" content="<%= page.title %>">
  <meta property="og:title" content="<%= page.title %>">
  <meta property="twitter:title" content="<%= page.title %>">

  <!--Description-->
  <% if (page.description){ %>
  <meta name="description" content="<%= page.description %>">
  <meta property="og:description" content="<%= page.description %>">
  <meta property="twitter:description" content="<%= page.description %>">
  <% } else if (config.description){ %>
  <meta name="description" content="<%= config.description %>">
  <meta property="og:description" content="<%= config.description %>">
  <meta property="twitter:description" content="<%= config.description %>">
  <% } else if (page.excerpt){ %>
  <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
  <meta property="og:description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
  <meta property="twitter:description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
  <% } else if (page.content){ %>
  <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
  <meta property="og:description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
  <meta property="twitter:description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
  <% } %>

  <!--Favicon-->
  <link rel="icon" href="https://mathigatti.com/favicon/favicon.png">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://mathigatti.com/">
  <meta property="twitter:url" content="https://mathigatti.com/">
  <meta property="twitter:card" content="summary_large_image">

  <!--Preview Images-->
  <% if (page.preview_image){ %>
  <meta property="og:image" content="https://mathigatti.com/<%= page.preview_image %>">
  <meta property="twitter:image" content="https://mathigatti.com/<%= page.preview_image %>">
  <link rel="image_src" href="<%= config.root %><%= page.preview_image %>">
  <% } else if (page.cover_image){ %>
  <meta property="og:image" content="https://mathigatti.com/<%= page.cover_image %>">
  <meta property="twitter:image" content="https://mathigatti.com/<%= page.cover_image %>">
  <link rel="image_src" href="<%= config.root %><%= page.cover_image %>">
  <% } else { %>
  <meta property="og:image" content="https://mathigatti.com/images/pattern.png">
  <meta property="twitter:image" content="https://mathigatti.com/images/pattern.png">
  <link rel="image_src" href="https://mathigatti.com/images/pattern.png">
  <% } %>

  <!--Author-->
  <% if (config.author){ %>
  <meta name="author" content="<%= config.author %>">
  <% } %>

  <!-- Pure CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Open+Sans:300,800" rel="stylesheet">

  <!-- Custom CSS -->
  <%- css('css/styles.css') %>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Analytics -->
  <%- partial('google-analytics') %>
</head>
